{% include 'base.html.twig' %}
<a href="{{path('app_affiche_formation')}}">Retour</a><br>

<h3>Ajouter une formation</h3>
{% form_theme formulaire 'form_table_layout.html.twig' %}
{{form(formulaire)}}