{% include 'base.html.twig' %}

<h3>Liste des formations :</h3>

{% if lesInscriptions is defined %}
    <table class="table">
        <thead>
            <tr>
                <th>Nom de la formation</th>
                <th>Description</th>
                <th>Statut</th>
            </tr>
        </thead>
        {% for uneInscription in lesInscriptions %}
            <tbody>
                    <tr>
                        <td>{{uneInscription.formation.produit.libelle}}</td>
                        <td>{{uneInscription.formation.description}}</td>
                        <td>{{uneInscription.statut}}</td>
                    </tr>
                {% endfor %}
            </tbody>
    </table>
{% else %}
    <p>Aucune inscriptions en attente !</p>
{% endif %}
<br>
<center><a href="{{path('app_affiche_employe_statut0')}}" class="btn btn-outline-danger">Retour</a></center>