{% include 'base.html.twig' %}
<center>
{% form_theme formulaire 'form_table_layout.html.twig' %}
<h3>Espace employé - Connexion</h3>
<br>
    {{form(formulaire)}}
    {% if message is defined %}
        {{message}}
    {% endif %}  
</center>